body, html { border:0; margin:0;padding:0; font-family: sans-serif; font-size:14pt;}
body {color:white; background-color:black}
#header {text-align:right;margin-right:1em;padding-top:0.3em; }
img.login_img {width:32px; }
span.menu {cursor: pointer;}
div#user_menu_popup {display:none;visible:none}
#content {padding-left:1em; min-height:60em}
#edit_field  {width:30%em;margin-left:35%;margin-right:35%;margin-top:4em;}
#login_field {width:30%em;margin-left:35%;margin-right:35%;margin-top:4em;}
#login_field table {width:100%;}
#edit_field table {width:100%;}
#login_field table td input:not([type=submit]) {width:80%;}
#edit_field table td input:not([type=submit]) {width:80%;}
#login_field table th {text-align:right;}
#edit_field table th {text-align:right;}

.form {width:30%em;margin-right:35%;margin-top:4em;}
.form table {width:100%;}
.form table th {text-align:right;}
.form table td input:not([type=submit]) {width:80%;}
.form table td textarea {width:100%;}

#error_message {text-align:right; color:red;}
article header {font-weight: bold; }
article header a {color: white; }
article header a:hover {color: red; }
.menu a {color: white; }
.menu a:hover {color: red; }
.menu a.button {width:150px; height:1.2em; text-decoration:none;
		background-color:silver; display: inline-block;
		text-align: center;
		vertical-align: middle;
		padding-right:0px; margin-right:2px; padding-left:2px; margin-left:0px;}
.menu a.button:hover {color: gray; padding-right:2px; margin-right:0px; padding-left:0px; margin-left:2px;}